<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indecisive Ninja | Admin</title>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/admin.js"></script>
  <link rel="stylesheet" href="/styles/admin.css" type="text/css" />
  <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>

<body>
  <main>
    <a class="link glass" href="">Link to results page</a>

    <table class="glass">
      <% for(let log of logs) { %>
        <tr>
          <td>
            <%= log.name %>
          </td>
          <td>
            <%= log.option %>
          </td>
          <td>
            <%= log.score %>
          </td>
        </tr>
        <% } %>
    </table>
  </main>
</body>

</html>
