<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <main>
    <div class="home-layout">
      <section class="glass">
        <div class="dashboard">
          <img class="header-icon" src="/images/3497643.jpg" alt="">
          <button>Create A Poll</button>

          <div class="cards">
            <div class="card">

            </div>
          </div>

        </div>
      </section>
      <section class="glass">
        <form action="/polls/" method="POST">
          <div class="form-container">
            <h3>Create a poll</h3>

            <label for="email">Email</label>
            <input type="text" name="email">
            <br>
            <label for="description">Description</label>
            <input type="text" name="description">
            <br>
            <label for="options">Options</label>
            <div id="option_list">

              <div class="card">
                <input type="text" required name="options">
              </div>

              <div class="card">
                <input type="text" required name="options">
              </div>
              <div class="card">
                <input type="text" name="options">
              </div>
              <div class="card">
                <input type="text" name="options">
              </div>
            </div>
            <input type="button" id="add_option" value="+">
            <input type="submit">
        </form>


        <div class="cards">
          <div class="card">

          </div>
        </div>

    </div>
    </section>
    <div class="how-to-section">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
    </div>

    <div class="circle1"></div>
    <div class="circle2"></div>

  </main>

  <h1></h1>

  <form action="/polls/" method="POST">
    <h3>Create a poll</h3>

    <label for="email">Email</label>
    <input type="text" name="email">
    <br>
    <label for="description">Description</label>
    <input type="text" name="description">
    <br>
    <label for="options">Options</label>
    <div id="option_list">
      <input type="text" required name="options">
      <input type="text" required name="options">
      <input type="text" name="options">
      <input type="text" name="options">
    </div>
    <input type="button" id="add_option" value="+">
    <input type="button" id="remove_option" value="-">
    <input type="submit">
  </form>
</body>

</html>
