<!DOCTYPE html>
<html lang="en">

<head>
  <title>Indecisive Ninja</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/createFormButton.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e7059793e5.js" crossorigin="anonymous"></script>

  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>


  <main>
    <div class="home-layout">
      <section class="glass">
        <div class="dashboard">
          <h1>The Ultimate Poll Creation App</h1>
          <img class="header-icon" src="/images/header.png" alt="">
          <button class="blobby-button create-poll-button header-icon">Create A Poll <span class="inner">
              <span class="blobs">
                <span class="blob"></span>
                <span class="blob"></span>
                <span class="blob"></span>

                <span class="blob"></span>
              </span>
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
              <defs>
                <filter id="goo">
                  <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                    result="goo">
                  </feColorMatrix>
                  <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
              </defs>
            </svg>
          </button>

          <div class="cards">
            <div class="card">

            </div>
          </div>

        </div>
      </section>
      <section class="glass create-poll-glass">
        <form action="/polls/" method="POST">
          <div class="form-container">
            <h3>Create a poll</h3>
            <label class="email-input" for="email">Email</label>
            <div class="card">
              <input type="email" name="email">
            </div>

            <label for="description">Description</label>
            <div class="card">
              <input type="text" name="description">
            </div>


            <div id="option_list">
              <div>
                <label for="options">Options</label>
                <button type="button" class="up button" id="add_option"><i class="fas fa-plus"></i></button>
              </div>

              <div class="card">
                <input type="text" required name="options">
              </div>

              <div class="card">
                <input type="text" required name="options">
              </div>
              <div class="card">
                <input type="text" name="options">
              </div>
              <div class="card">
                <input type="text" name="options">
              </div>
            </div>
            <div>
              <input class='checkbox' type="checkbox" name="ip-check" value="true">
              <label for="ip-check"> Only Allow Unique Voters </label>
              <input class="up submit-button button" type="submit" value="Submit">
            </div>

        </form>


    </div>
    </section>

    <div class="how-to-section">
      <div class="square">
        <img class="share" src="/images/create.png" alt="">
        <p>Create new polls</p>
      </div>
      <div class="square">
        <img class="share" src="/images/collaboration.png" alt="">
        <p>Share with your friends</p>
      </div>
      <div class="square">
        <img class="share" src="/images/results.png" alt="">
        <p>View your poll results</p>
      </div>
    </div>
    </div>

    <div class="circle1"></div>
    <div class="circle2"></div>

  </main>

</body>

</html>
