<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poll Results</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/resultsPage.css" type="text/css" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"
    integrity="sha512-iJh0F10blr9SC3d0Ow1ZKHi9kt12NYa+ISlmCdlCdNZzFwjH1JppRTeAnypvUez01HroZhAmP4ro4AvZ/rG0UQ=="
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="/scripts/app.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"
    integrity="sha512-dnUg2JxjlVoXHVdSMWDYm2Y5xcIrJg1N+juOuRi0yLVkku/g26rwHwysJDAMwahaDfRpr1AxFz43ktuMPr/l1A=="
    crossorigin="anonymous"></script>
  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  <script src="/scripts/pusherScript.js" type="text/javascript"></script>
  <script src="/scripts/resultscripts.js" type="text/javascript"></script>
  <link rel="icon" type="image/png" href="/images/favicon.png" />


</head>

<body>
  <main>
    <div class="notification-popup"></div>
    <p id='pollData' style="display:none">
      <%=JSON.stringify(poll) %>
    </p>
    <div class="main-col">
      <div class="chart-container glass" width="400" height="400">
        <canvas id="barChart" width="400" height="400"></canvas>
      </div>
      <div class="button-div">
        <button class="copy-button">Copy Voter Link</button>
        <button class="log-button">See Voter Log</button>
      </div>
    </div>
    <div class="right-side">
      <p class='link' hidden></p>
      <div class="logs glass">
        <h3>Voter Log</h3>
        <ul class="log-list">
          <% for (name of voters) { %>
            <li>
              <%= name.name %>
            </li>
            <% } %>
        </ul>
      </div>
    </div>
    <script src="/scripts/chartsScript.js" type="text/javascript"></script>
  </main>
</body>

</html>
