<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/voterfraud.js"></script>
  <link rel="icon" type="image/png" href="/images/favicon.png" />

  <title>You've already voted</title>
</head>

<body>
  <h1>You have already voted on this poll.</h1>
  <p hidden class='poll-id-passthrough'>
    <%= pollId %>
  </p>

</body>

</html>
