* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: #0f5d69;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glass {
  min-height: auto;
  min-width: 30rem;
  padding: 1rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
}

.form {
  display: flex;
  flex-direction: row;
  color: black;
  margin-top: 0.5rem;
}

.wrapper {
  width: 90%;
}

.wrapper input:hover {
  cursor: grab;
}

.wrapper input:focus {
  cursor: grabbing;
}

.wrapper .fa-bars:hover {
  cursor: grab;
}

.card {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
  border-radius: 1rem;
  margin: 0.3rem 0rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
}

.card input {
  margin-left: 15px;
  margin-right: 15px;
  height: 2rem;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.card i {
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.index {
  height: 2rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

.submit {
  margin-top: 16px;
  float: right;
  margin-right: 15px;
  outline: none;
  border: none;
  float: right;
  margin-bottom: 8px;
  border-radius: 5px;
  padding: 5px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  height: 30px;
  transition: 0.25s;
}

.submit:hover {
  border-color: #aa724b;
  color: #eeeeee;
  box-shadow: inset 0 -3.25em 0 0 #3b8d99;
}

.submit:focus {
  margin-top: 18px;
  margin-bottom: 6px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
  border-radius: 1rem;
  width: 50%;
  margin-bottom: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
}

.name input {
  margin-left: 15px;
  margin-right: 15px;
  height: 2rem;
  border: none;
  background: transparent;
  outline: none;
}

form > p {
  margin-left: 0.5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #0f5d69;
}
